$black-drop: #2b2b2b // Выподающий список
$black: #1b1d1f //

.footer
  margin-bottom: 55px
  padding-top: 24px
  overflow: hidden

  &__left
    width: 60%
    background-color: $black-drop

  &__right
    width: 40%
    background-color: $black

.footer__left, .footer__right
  box-sizing: border-box
  padding: 24px 0 24px 24px
  vertical-align: top