@media (max-width: 420px)
  .om-navbar__geo
    right: -12px
    z-index: 1
    top: 74px

@media (max-width: 640px)
  .om-navbar__geo
    position: absolute
    left: 62px

@media (max-width: 700px)
  .om-navbar__right
    width: 150px

@media (max-width: 1000px)
  .om-navbar__right
    width: 330px

@media (max-width: 1150px)
  .om-navbar__right
    width: 380px

@media (max-width: 1240px)
  .om-navbar__right
    width: 425px
