.om-container
  padding: 0 24px
  max-width: 1920px
  min-width: 320px
  margin: auto
  clear: both

.inline-block
  display: inline-block

.position-relative, .navbarItemsContainer
  position: relative

.flex
  display: flex

.flex-between
  display: flex
  justify-content: space-between
  align-items: center
  height: 40px

.om-visible-hidden
  visibility: hidden
  opacity: 0


// Icon
//.svg-inline
//  overflow: visible
//  display: inline-block
//  font-size: inherit
//  height: 1em
//  vertical-align: -0.125em
//
//.w-18
//  width: 1.125em
