.container
  padding: 0 24px
  max-width: 1920px
  min-width: 320px
  margin: auto
  clear: both

.inline-block
  display: inline-block

.position-relative, .navbarItemsContainer
  position: relative

.flex, .flex-between, .flex-center
  display: flex

.flex-center
  justify-content: center
  align-items: center

.flex-between
  justify-content: space-between
  align-items: center

.visible-hidden
  visibility: hidden
  opacity: 0

button
  margin: 0
  padding: 0
  background-color: inherit
  border: none
  cursor: pointer
  display: inline-block

.f-left
  float: left

[class*='w']
  box-sizing: border-box
  width: 100%
  max-width: 100%

.w-40
  width: 40%

.w-100
  flex: 1
  min-width: 1px

.w-auto
  width: auto
// padding
.p-m
  padding: 18px

// margin
.m-l-xs
  margin-left: 8px

// color
.c-m
  color: #888

.bg-m
  background-color: #f3f3f3


